<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
    <h2 class="col-red">TESTINGGGGGGGGGGGGGG</h2>
    <h2 class="col-green">TESTINGGGGGGGGGGGGGG</h2>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
    HelloWorld,
  },
})
export default class Home extends Vue {}
</script>
